# ***********************************************************************************
# agent
OPENAI_API_KEY=

# MCP KEY, aka Agent API KEY should have:
#     Environments: minimum Read-only
#     MCP: minimum read-only
# This key is created at the Team level and NOT as the Environment level
# FORMAT: key_id:key_secret
# EXAMPLE: iw83o:kdo93
# More info: https://docs.honeycomb.io/integrations/mcp/configuration-guide
HC_MCP_KEY=
# Optional. If set, Honeycomb webhook must include matching {{ .Recipient.Secret }} field 
HC_SHARED_SECRET=
# ***********************************************************************************
# otel-collector
COLLECTOR_ENDPOINT=http://localhost:4318/v1/traces

# this is an Environment-specific ingest-only key
HONEYCOMB_API_KEY=
CORS_ALLOWED_ORIGIN=""  # TODO

# GitHub PAT -- only for oiva-app/3-services-demo (read-only)
GITHUB_PAT=""

# WORKSPACE PATHS (need to be adjusted for deployment and in different dev environments)
# Mastra recommends using absolute paths here, bc they resolve different for `dev` vs `start`
CODEBASE_AGENT_WORKSPACE_PATH=
SUPERVISOR_WORKSPACE_PATH=
