OPENAI_API_KEY=

# MCP KEY, aka Agent API KEY should have:
#  Environments: minimum Read-only
#  MCP: minimum read-only
# This key is created at the Team level and NOT as the Environment level
# More info: https://docs.honeycomb.io/integrations/mcp/configuration-guide
HC_MCP_KEY=  # use this format --> key_id:key_secret

# otel-collector
HONEYCOMB_API_KEY=  # this is an Environment ingest-only key
CORS_ALLOWED_ORIGIN=""  # TODO