OPENAI_API_KEY=

# MCP KEY, aka Agent API KEY should have:
#  Environments: minimum Read-only
#  MCP: minimum read-only
# More info: https://docs.honeycomb.io/integrations/mcp/configuration-guide
HONEYCOMB_MCP_KEY=